@font-face {
  font-family: 'BondoluoPeek';
  src: url('bondoluopeek.eot');
  src: url('bondoluopeek.eot?#iefix') format('embedded-opentype'),
       url('bondoluopeek.woff') format('woff'),
       url('bondoluopeek.ttf') format('truetype'),
       url('bondoluopeek.svg#BondoluoPeek') format('svg');
}
@font-face {
    font-family:"Fibography Personal Use";
    src:url("Fibography_PersonalUse.eot?") format("eot"),
        url("Fibography_PersonalUse.woff") format("woff"),
        url("Fibography_PersonalUse.ttf")format("truetype"),
        url("Fibography_PersonalUse.svg#FibographyPersonalUse") format("svg");
    font-weight:normal;
    font-style:normal;
}
body {
  margin: 0;
  background: #FFFFFF;
  min-width: 960px;
}
h1,.fontpro,.fontpro-19206 {
font-family: 'BondoluoPeek',sans-serif;
text-align:center;
background-color:white;
padding: 30px 0px 20px 0;
font-size:70px;
}
i1, .fontpro,.fontpro-19206 {
font-family:'BondoluoPeek',sans-serif;
color:#DF0101;
}

h2 {
font-family:'BondoluoPeek',sans-serif;
font-size:45px;
color:#DF0101;
}
i2 {
color:#151515;
}
img {
outline: 0; 
max-width: 100%;
height: auto; 
}
p1 {
font-family:'BondoluoPeek',sans-serif;
font-size:30px;
color:#DF0101;
text-align:center;
}
p2 {
font-family:"Fibography Personal Use";
font-size:30px;
color:#151515;
text-align:center;
}
h3 {
font-family:'BondoluoPeek',sans-serif;
font-size:45px;
color:#DF0101;
}
p {
text-align:left;
font-size:20px;
}
h4, h5 {
font-family:'BondoluoPeek',sans-serif;
font-size:45px;
color:#DF0101;
}








